.bestDeals {
    padding:0;
    overflow-y: scroll;
    height: 48.7vh;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 33vw;
}

.bestDeals::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 981px) {
      .bestDeals {
          width: 75vw;
          height:65vh;
          padding: 0;
          margin-left: 4vw;
          margin-top: 0vh;
      }
  }