.App {
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  max-height: max-content;
  width: 100vw;
  background-color: #CED0CE;
  overflow: hidden;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 981px) {
  html {
    overflow-x: hidden;
  }
}